on:
  push:
    branches:
      - master
    tags:
      - 'v*'

name: Generalized Deployments
jobs:
  push:
    name: Deploy
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
    - name: Checkout
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8 # v5.1.0
      with:
        role-to-assume: ${{ secrets.GDBP_AWS_IAM_ROLE_ARN }}
        aws-region: us-west-2

    - name: Deploy Tag Version
      if: startsWith(github.ref, 'refs/tags/')
      uses: brave-intl/general-docker-build-pipeline-action@50a99c1f051b1d8e20ed79ded2e69ab3153b66e4 # v1.0.25

    - name: Deploy to Production
      if: startsWith(github.ref, 'refs/tags/')
      uses: brave-intl/general-docker-build-pipeline-action@50a99c1f051b1d8e20ed79ded2e69ab3153b66e4 # v1.0.25
      env:
        GITHUB_REF_OVERRIDE: refs/heads/production

    - name: Deploy Branch
      if: github.ref == 'refs/heads/master'
      uses: brave-intl/general-docker-build-pipeline-action@50a99c1f051b1d8e20ed79ded2e69ab3153b66e4 # v1.0.25
